/* animaciones */
@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideUp {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
    }
  }

body{
    background: #003053;
    font-family: 'Roboto', sans-serif;

}

.container{
    animation: slideDown 0.2s ease;
    display: flex;
    flex-direction: column;
    margin: 300px;
    margin-top: 20px;
    background: #fff;
    padding-bottom: 30px;
    border-radius: 30px;
    height: 1500px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    animation: slideDown 1s ease;
    color: #003053;
    font-size: 48px;
    font-weight:  700;
}

.underline{
    animation: slideDown 1s ease;
    width: 61px;
    height: 6px;
    background: #003053;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    animation: slideDown 1s ease;
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

#femenino{
    margin-left: -50px;
}

#sex {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 19px;
    color: #797979;
    
}

#civil {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 19px;
    color: #797979;
    
}

#estado {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 19px;
    color: #797979;
    
}

#sex label {
    padding-right: 10px;
    color: #797979;
    font-size: 19px;
    
}

#sex-select {
    outline: none;
    border: none;
    animation: slideDown 1s ease;
    display: flex;
    align-items: center;
    margin: auto;
    width: 130px;
    height: 50px;
    margin-right: 220px;
    background: #eaeaea;
    border-radius: 6px;
}

#sex-select option:checked{
    color: #3d3c3c;
    font-size: 19px;
    
}

#option{
    color: #797979;
    font-size: 19px;
}

#state-select {
    outline: none;
    border: none;
    animation: slideDown 1s ease;
    display: flex;
    align-items: center;
    margin: auto;
    width: 200px;
    height: 50px;
    margin-right: 220px;
    background: #eaeaea;
    border-radius: 6px;
}

select{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 19px;
    color: #696969;
}

.input img{
    width: 20px;
    height: 20px;
    margin: 0px 20px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    animation: slideDown 1s ease;
    display: flex;
    justify-content: center;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: #003053;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    animation: slideDown 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #003053;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

#olvide{
    display: none;
}

#inicia-sesion {
    background: #0000004b;
    color: #0000004b; /* Make the button appear greyed out */
}